body
{
    background-color:whitesmoke;
    font-family: 'Lato', sans-serif;
}
.container
{
    max-width: 1200px;
    margin: 0 auto;
    clear: both;
    padding: 0 15;
}
.imagestext
{
    text-align: center;
    margin-bottom: 40px;
}
.imagestext h3
{
    font-size: 24px;
    margin-top: 5%;
}
.imagestext p
{
    font-size: 14px;
    color: #6e6e6e;
    font-weight: 300;
}
.item 
{
    width: 100%;
}
.item img
{
    width: 100%;
    cursor: move;
}
.carousel-hover:hover
{
    opacity: 0.9;
}
.carousel-hover
{
    overflow: hidden;
    background-color: rgba(46,223,132,1.00);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s, ease-in-out;
    text-align: center;
}
.carousel-hover:hover h3
{
    transform: translateX(0%);
    transform: translateY(0%);
    transform: translateZ(0%);
}
.carousel-hover:hover p
{
    transform: translateX(0%);
    transform: translateY(0%);
    transform: translateZ(0%);
}
/*tekst po najechaniu na slider*/
.carousel-hover-inner
{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-hover-inner p
{
    margin-top: 20px;
    margin-bottom: 20px;
    transform: translate(0%);
    transform: translateY(300%);
    transform: translateZ(0%);
    transition: all 0.4s ease-in-out;
}
.carousel-hover-inner a
{
    position: relative;
    padding: 12px 36px;
    border: 2px solid white;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}
.carousel-hover-inner a:hover
{
    border: 2px solid rgba(46,223,132,1.00);
    color: rgba(46,223,132,1.00);
    background-color: #fff;
    transition: all 0.3 ease-in-out;
}
.carousel-hover-inner h3
{
    margin-top: 20px;
    margin-bottom: 40px;
    color: #fff;
    transform: translate(0%);
    transform: translateY(-300%);
    transform: translateZ(0%);
    transition: all 0.4s ease-in-out;
}
/*kontrolki slidera*/